div.user-list {
  .table-wrapper {
    thead.table-header {
      tr, th {
        max-width: 100px;
      }
    }
  }
}

.form-group {
  img.img-photoFiles {
    width: 100px;
    margin-top: 5px;
  }
}
