@import "../../scss/import";

.file-management {
  padding-top: 30px;
  .panel-total {
    .panel-wrapper {
      background: $base-background;
      border: none;
      > header {
        background: none;
        h1 {
          font-size: 22px;
        }
        color: #fff;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        box-shadow: 0 1px 0 0 hsla(0, 0%, 100%, .12);
        padding: 14px 20px;
      }
    }
    div.table-wrapper {
      thead.table-header {
        tr:first-child {
          background: rgba(0, 0, 0, .2);
          a {
            text-decoration: underline;
            margin-bottom: 0;
          }
          padding: 5px 0;
        }
      }
      tbody.table-body {
        th, td {
          > span {
            line-height: 33px;
          }
        }
      }
      tr {
        &:hover {
          background: rgba(0, 0, 0, .2);
        }
        td.td-actions {
          a {
            text-decoration: none;
          }
          .btn-info {
            background: $brand-primary;
            border: $brand-primary;
            &:hover {
              background: darken($brand-primary, 15%);
              border: darken($brand-primary, 15%);
            }
          }
        }
        td, th {
          a {
            text-decoration: underline;
            margin-bottom: 0;
          }
          span {
            button {
              margin-top: 3px;
              border-radius: 3px;
              border: 1px solid;
              font-size: 11px;
              &:nth-child(2) {
                background: $brand-primary;
                border: $brand-primary;
                &:hover {
                  border: darken($brand-primary, 15%);
                  border: darken($brand-primary, 15%);
                }
                margin-right: 4px;
              }
              &:nth-child(3) {
                background: $brand-warning;
                border: $brand-warning;
                &:hover {
                  border: darken($brand-warning, 15%);
                  border: darken($brand-warning, 15%);
                }
              }
            }
          }
        }
      }
      .pager-bottom {
        .pagination {
          > li {
            a {
              border: none;
              background-color: #fff;
              color: #000;
              &:hover {
                background-color: #ccc;
              }
            }
            &.active {
              a {
                background-color: #aaa;
              }
            }
          }
        }
      }
    }
  }
}
